<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>
      {{#if dashboard}}
        Your Dashboard
      {{else}}
        The Tech Blog
      {{/if}}
    </title>
  </head>
  <body>
    <header>
      <nav>
        <p>Home</p>
        <p>Dashboard</p>
        {{#unless loggedIn}}
          <p>Login</p>
        {{/unless}}
        <p>Logout</p>
      </nav>
      <div class="landingTitle">
        <h1>
          {{#if dashboard}}
            <h1>Your Dashboard</h1>
          {{else}}
            <h1>The Tech Blog</h1>
          {{/if}}
        </h1>
      </div>
    </header>
    <main>
      {{{body}}}
    </main>
  </body>
</html>